<h1>Listing trophies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trophies.each do |trophy| %>
      <tr>
        <td><%= trophy.name %></td>
        <td><%= link_to 'Show', trophy %></td>
        <td><%= link_to 'Edit', edit_trophy_path(trophy) %></td>
        <td><%= link_to 'Destroy', trophy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trophy', new_trophy_path %>
